<?xml version="1.0" encoding="UTF-8" ?>
<kml xmlns="http://www.opengis.net/kml/2.2" 
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:gx="http://www.google.com/kml/ext/2.2"
  xmlns:ktx="http://www.karunatree.com/kml/ext/2.2">
  
	<Document id="Init">
       <Camera>
          <gx:TimeStamp>
            <when>2009-08-06T10:00:00+Z</when>
          </gx:TimeStamp>  
    			<longitude>-42.45713367305161</longitude>
    			<latitude>25.55275890569053</latitude>
    			<altitude>25271815.54933485</altitude>
    			<heading>0.3047359618380708</heading>
    			<tilt>6.091182844638713e-05</tilt>
    			<roll>-1.590277340731758e-15</roll>
    		</Camera>
    </Document>
   
</kml>