//   Karunatree
//   Copyright 2009-2010 Derek Lyons & Karunatree. All Rights Reserved.
//   
//   Author: Jason Lu

- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "seedlings"

%tr{:class => "three-column-description"}
  - comments = @seedling.comments
  - if comments.length > 0
    %p
      %b #{comments.last.author},
      when:
      = comments.last.created_at
      %br
      Says:
      = comments.last.body
