/* @override http://localhost:3000/stylesheets/ktree-main.css?1281484114 */

/* @override 
	http://localhost:3000/stylesheets/ktree-main.css?1270607370
	http://localhost:3000/stylesheets/ktree-main.css?1270677087
	http://localhost:3000/stylesheets/ktree-main.css?1270679840
	http://localhost:3000/stylesheets/ktree-main.css?1270680213
*/

/* @group Page Structure */

html {
	height: 100%;
}

body {
	background: #4C4C4C;
	height: 100%;
	width: 100%;
	min-width: 450px;			/* Minimum width of layout. Note does not work in old IE */
	margin: 0;
	padding: 0;
	border: 0;					/* Removes border around viewport in old versions of IE */
	font-family: sans-serif;
}

#header {
	border-top: 1px solid #80ce21;
	background: #5D9405;
	background: -webkit-gradient(linear, left top, left bottom, from(#5D9405), to(#436e0c));
	background: -moz-linear-gradient(top,  #5D9405,  #436e0c);

	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-webkit-text-stroke: 1px transparent;
	font: bold 14px/18px "Lucida Grande", "Verdana", sans-serif;
	color: rgba(255,255,255,1.0);
	text-decoration: none;
	font-size: 2.5em;
	padding: 20px;
}

.dummy {
	background-color: #80ce21;
}

/* Thanks to Mike Rundle (@flyosity) for the sample CSS: http://pastie.org/947656 */
#nav {
	color: lightgoldenrodyellow;
	border-top: 1px solid #96d1f8;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -moz-linear-gradient(top,  #65a9d7,  #3e779d);
	height: 18px;
	padding: 0 10px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-webkit-text-stroke: 1px transparent;
	font: bold 14px/18px "Lucida Grande", "Verdana", sans-serif;
	color: rgba(255,255,255,.85);
	text-decoration: none;
	padding: 0.5em;
}

.content-container {		/* == colmask */
	position:relative;		/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float: left;
	width:100%;				/* Width of the whole page */
	overflow:hidden;		/* This chops off any overhanging child divs */
}

.content-main {				/* Will extend to become like colleft in column layouts */
	background: white;
	padding: 1.0em;
}


/* @end */


/* @group Typography */

body p {
	font-size: 100%;			/* Helps text sized in ems resize propertly in IE. See http://bit.ly/5u4Drl */
	line-height: 1.125em;
}

#nav a, #nav a:visited {
	color: #9AF608;
	text-decoration: none;
}

#nav a:hover {
	border-bottom: 2px dotted chartreuse;
}

#content h1 {
	font-size: 1.5em
}

/* @end */


/* @group Rails */

#notice {
	border: 2px solid green;
	padding: 1em;
	background-color: lightgrey;
	font-size: 0.8em;
	font-weight: bold;
}

/* @end */


/* @group Development */

#debug {
	margin-top: 1em;
	margin-left: auto;
	text-align: center;
}

#debug p {
	text-align: center;
}

#debug a, #debug a.visited {
	text-decoration: none;
	color: chartreuse;
}

#debug a:hover {
	border-bottom: 2px dotted chartreuse;
}

fieldset.debug_info {
	text-align: left;
	margin: 1em;
	background: #eee;
}

.debug_dump {
	text-align: left;
	margin: 0;
	padding: 0.5em;
}

/* @end */
