/*   Karunatree
*   Copyright 2009-2010 Derek Lyons & Karunatree. All Rights Reserved.
*   
*   Author: Derek Lyons
*/

#front-page-wrapper {
	width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: ;
}

#float-left {
	float: left;
	margin-right: 40px;
}

.gray-outline {
	background-color: #01385d;
	padding: 10px;
}

#float-left p {
	font-size: 1.0em;
	color: #79787f;
}

a {
	color: #055c93;
}
a:hover {
	text-decoration: underline;
}

.yellow-highlight {
	background-color: #fef6bd;
}

.bright-highlight {
	background-color: #feef63;
}

#headline {
	border: 3px solid #3da21b;
	padding: 10px;
	background: #e9f7de;
}

body p {
	font-size: 1.2em;
	line-height: 1.3em;
}
