/* @override http://localhost:3000/stylesheets/seedlings.css?1281476427 */

/* @override http://localhost:3000/stylesheets/seedlings.css?1281475745 */

/* @override 
	http://localhost:3000/stylesheets/seedlings.css?1281475222
	http://localhost:3000/stylesheets/seedlings.css?1281475054
	http://localhost:3000/stylesheets/seedlings.css?1281475639
*/

require "set"

#id
{}



#tabseed /*The table containing Globe and Form*/
{
border-collapse:collapse;
width:100%;
padding:0px;
vertical-align:top;  
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

.clearall {
	clear: both;
}

.locationicon {
	float: left;	
}

.content-main {
	border-top: 1px solid #96d1f8;
	background: #f9f9f9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#d8d8d8));
	background: -moz-linear-gradient(top,  #f9f9f9,  #d8d8d8);
	font-color: #6a6a6a;
}

.content-main p {
	color: #6a6a6a;
}

.dummy {
	background: #d8d8d8;

}


#map3d  /*Earth Plugin Div Styles*/
{
border-style:solid;
border-color:#669900;
border-width:1px;

height: 100%; 
width: 100%;
padding:4px;
	background-color: #a5a5a5;
}

#map3d.show {
height: 150px;
width: 95%;
border: 1px solid #669900;
padding:4px;
}


#globecolumn  /* The column containing map3d globe */
{
height:600px;
width:60%;
padding:5px;
}

#globecolumn.index  /* The column containing map3d globe */
{
width:75%;
padding:0px;
}

#details-column {
	width: 30%;
	height: auto;
	color: #fef165;
	border: 2px solid #3e779d;
	background-color: #669900;
	padding:4px;
}


#formcolumn   
{
vertical-align:top;
width:40%;
padding:10px;
}
#formcolumn.index
{width:25%;
padding:10px;
}


#globecontrols
{
width:100%;
color:#40413f;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#globecontrols a
{
text-decoration:none;
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#showseed
{
vertical-align:top;
width:100%;
padding:20px;
}

#flyto{
display: block; 	
width:66px;
height:25px;
outline:0px;
background:url('../images/seedlings/fly.png') -4px -4px;
}
#flyto:hover { 
background:url('../images/seedlings/fly.png') -4px -30px;
}
#flyto:active { 
background:url('../images/seedlings/fly.png') -4px -58px;
}


#reset{
display: block; 	
width:66px;
height:25px;
padding:0px;
outline:0px;
background:url('../images/seedlings/plant.png') -4px -4px;
}
#reset:hover { 
background:url('../images/seedlings/plant.png') -4px -30px;
}
#reset:active { 
background:url('../images/seedlings/plant.png') -4px -58px;
}

#plant{
display: block; 	
width:66px;
height:25px;
padding:0px;
outline:0px;
background:url('../images/seedlings/plant.png') -4px -4px;
}
plant:hover { 
background:url('../images/seedlings/plant.png') -4px -30px;
}
#plant:active { 
background:url('../images/seedlings/plant.png') -4px -58px;
}

#search{
display: block; 	
width:66px;
height:25px;
padding:0px;
outline:0px;
background:url('../images/seedlings/search.png') -4px -4px;
}
#search:hover { 
background:url('../images/seedlings/search.png') -4px -30px;
}
#search:active { 
background:url('../images/seedlings/search.png') -4px -58px;
}

#next{
display: block; 	
width:66px;
height:25px;
padding:0px;
outline:0px;
}
#next.enabled{
background:url('../images/seedlings/next.png') -4px -4px;
}
#next.enabled:hover { 
background:url('../images/seedlings/next.png') -4px -30px;
}
#next.enabled:active { 
background:url('../images/seedlings/next.png') -4px -58px;
}

#next.disabled{
background:url('../images/seedlings/next.png') -4px -88px;	
}



#prev{
display: block; 	
width:66px;
height:25px;
padding:0px;
outline:0px;
}
#prev.enabled{
background:url('../images/seedlings/prev.png') -4px -4px;
}
#prev.enabled:hover { 
background:url('../images/seedlings/prev.png') -4px -30px;
}
#prev.enabled:active { 
background:url('../images/seedlings/prev.png') -4px -58px;
}
#prev.disabled{ 
background:url('../images/seedlings/prev.png') -4px -88px;
}

#imggrid
{
padding: 10px;
background-color:#FFFFFF;
/* Curved Borders */
-moz-border-radius: 5px;  
-webkit-border-radius: 5px;  
-khtml-border-radius: 5px;     
border-radius: 5px;          

/* Shadow effects */
-moz-box-shadow: 2px 2px 3px #CCCCCC;
-webkit-box-shadow: 2px 2px 3px #CCCCCC;
box-shadow: 2px 2px 3px #CCCCCC;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');

/* Font properties */
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
text-align:left;
}

#imggrid.admindiv{
	min-height:150px;
	background: #fcfdd8 url('../images/seedlings/paw.png') no-repeat right top;
	margin: 15px;
}

#imggrid.mapdiv h3{
	padding-left: 3px;
	margin-top: 4px;
	margin-bottom: 6px;
}

#imggrid.mapdiv p {
	padding-left: 5px;
}


#imggrid.projectdiv{
text-align:center;
}

#map_description {
	min-height: 25px;
}


#imggrid.projectdiv{
text-align:center;
}

#imggrid.search
{color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

.paneldiv {
	border-top: 1px solid #fafafa;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d5d5d5));
	background: -moz-linear-gradient(top,  #e3e3e3,  #d5d5d5);
	min-height: 22px;
	padding: 0 10px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-webkit-text-stroke: 1px transparent;

	color: #40413f;
	text-decoration: none;
	padding: 0.5em;
}

.dummy {
	background-color: #d5d5d5;
}

.iconimg {
	float: left;
}

.icondesc {
	margin-left: 25px;
	margin-top: 2px;
}

.paneldiv a, .paneldiv a:visited {
	color: #40413f;
	text-decoration: none;
}

.paneldiv:hover, .paneldiv a:hover {
	color: #337292;
	text-shadow: rgba(1,1,1,.3) 0 2px 3px;

}

.tagsdiv{
	padding-left: 8px;
	line-height: 1.4em;
}

.tagsdiv h3 {
	margin: 3px;
	padding-left: 3px;
}

#balloongrid
{
margin-top:0px;
padding:4px;
background-color:#E6E6E6;
border:1px solid #83B0C6;
Font-size:13px;
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
width:350px;
min-height:140px;

-moz-border-radius: 3px;  
-webkit-border-radius: 3px;  
-khtml-border-radius: 3px;     
border-radius: 3px;          
}


#imggridmore
{
padding: 4px;
background-color:#FFFFFF;

-moz-border-radius-topleft: 5px;  
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;  
-webkit-border-top-right-radius: 5px;
-khtml-border-top-left-radius: 5px;     
-khtml-border-top-right-radius: 5px;
border-top-left-radius:5px;
border-top-right-radius:5px;          

-moz-box-shadow: 2px 2px 3px #CCCCCC;
-webkit-box-shadow: 2px 2px 3px #CCCCCC;
box-shadow: 2px 2px 3px #CCCCCC;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');

font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
text-align:left;
}



#imggridclip
{
padding: 4px;
background-color:#FFFFFF;

-moz-border-radius-bottomleft: 5px;  
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;  
-webkit-border-bottom-right-radius: 5px;
-khtml-border-bottom-left-radius: 5px;     
-khtml-border-bottom-right-radius: 5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px         

-moz-box-shadow: 2px 2px 3px #CCCCCC;
-webkit-box-shadow: 2px 2px 3px #CCCCCC;
box-shadow: 2px 2px 3px #CCCCCC;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');

font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
text-align:left;
}


#imggridclip.clip{
text-align:center;
}

#tabseedlings /*tour Destinations Styles*/
{
border-collapse:collapse;
width:100%;
padding: 5px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-align:left;
}

#switchlist
{
	list-style-type:none;
	padding:0px;
	margin:0px;
	text-decoration: none;	
}

#switchlist li
{
	color: #337292;
}

#switchlist a
{
color: #337292;
text-decoration:none;
outline:0px;
}

#switchlist a:hover {
	color: #337292;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
}

#seedling-details-image 
{
vertical-align:top;
border: 2px solid #3e779d;
background-color: #669900;
padding:4px;
}

body{
margin:0;
padding:0;
}

#maincontainer{
width: 1000px;    /*Width of main container*/
margin: 0 auto;  /*Center container on page*/
}

#contentwrapper{
float: left;
width: 100%;
min-height:30px;
}

#contentcolumn{
margin-right: 360px;   /*Margin for content column. Should be (RightColumnWidth + LeftColumnWidth)*/
color:#307BA0;
}

#leftcolumn{
float: left;
width: 200px;          /*Width of left column in pixel*/
margin-left: -360px;   /*Set margin to -(LeftColumnWidth + RightColumnWidth)*/
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#rightcolumn{
float: left;
width: 160px;          /*Width of right column in pixels*/
margin-left: -160px;   /*Set margin to -RightColumnWidth*/
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#footer{
	clear: left;
	width: 100%;
	border-top: 1px solid #96d1f8;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -moz-linear-gradient(top,  #65a9d7,  #3e779d);
	height: 18px;
	padding: 0 10px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-webkit-text-stroke: 1px transparent;
	font: bold 14px/18px "Lucida Grande", "Verdana", sans-serif;
	color: rgba(255,255,255,.85);
	text-decoration: none;
	padding: 0.5em;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin-left: 10px;           /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

#textdiv{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
vertical-align:bottom;
padding-left:5px;
min-height:30px;
}

#audiodiv{
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

#btndiv{
float: left;
width: 320px;   
}


#descrdiv{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
}

.titlediv h1{
	font-weight: normal;
	float: left;
	padding-left: 15px;
	margin-top: 20px;
	text-align: left;
	text-shadow: rgba(1,1,1,.3) 0 1px 2px;
	-webkit-text-stroke: 1px transparent;

	color: rgba(255,255,255,.85);

}

#avatar-img {
	padding-top: 10px;
	padding-right: 15px;
	float: right;
}

.authordiv {
	float: right;
	padding-top: 28px;
	padding-right: 10px;
	color: #7c767a;
	font-size: 1.2em;
}

.authordiv a {
	color: #307BA0;	
}

author a:visited {
	color: #103648
}

.artiststmt p {
	font-size: 1.3em;
	color: #585858;
	padding: 10px;
}

.artiststmt h2 {
	padding-left: 10px;
	font-weight: normal;
	float: left;
	text-shadow: rgba(1,1,1,.3) 0 1px 2px;
	-webkit-text-stroke: 1px transparent;
}

.responses p {
	padding-left: 10px;
}

.responses h2 {
	font-weight: normal;
	padding-left: 10px;
	text-shadow: rgba(1,1,1,.3) 0 1px 2px;
	-webkit-text-stroke: 1px transparent;
}

.comments h2 {
	font-weight: normal;
}

.morebydiv h3 {
	padding-left: 3px;
	margin-top: 4px;
	margin-bottom: 6px;
}

#morebyimg {
	margin-left: 4px;
}

.contactusdiv {
	min-height:0px;
	border-top: 1px solid #96d1f8;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ef6d93), to(#ee4272));
	background: -moz-linear-gradient(top,  #ef6d93,  #ee4272);
	padding: 0 10px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	text-decoration: none;
	padding: 0.5em;
}

.contactusdiv a, .contactusdiv a:visited {
	color: #fef9bd;
}

.dummy {
	background-color: #fd467a;
}

.contactusdiv h3 {
	font-weight: bold;
	font-size: 1.3em;
	margin-top: 4px;
	margin-bottom: 6px;
	padding-left: 3px;
	color: #fef8b9;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-webkit-text-stroke: 1px transparent;
}

.contactusdiv p {
	color: #FFFFFF;
	font-size: 1.3em;
}

.titlecolor
{
color:#669900;	
}

q:lang(en)
{
quotes: "«" "»" "'" "'";
}

#proj-img
{
max-width:630px;	
max-height:500px;
background-image: url('../images/seedlings/load.gif');
background-repeat: no-repeat;
background-position:center;
}

#more-link
{
border:3px solid #ffffff;	
margin:2px;
max-width:150px;	
max-height:100px;
}

#more-link:hover 
{
border:3px solid #CCCCCC;	
}

#lbladdress
{
	margin-left: 20px;
	margin-right: 5px;
}

#map_canvas
{
width:179px;
margin-bottom:5px;
background-image: url('../images/seedlings/load.gif');
background-repeat: no-repeat;
background-position:center;
}

#map_canvas_thumb
{
background-image: url('../images/seedlings/load.gif');
background-repeat: no-repeat;
background-position:center;
}

#index-background-column {
	background: url('../images/seedlings/seedling_art2.jpg');
	min-height: 600px;
	min-width: 300px;
	font-size:12px;
    color: #307BA0;
	border: 1px solid #669900;
	margin:4px;
	padding:4px;
}

#earthdiv{
margin-right: 300px; /*Set right margin to RightColumnWidth*/
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#indexcontrols{
float: left;
width: 300px; /*Width of right column*/
margin-left: -300px; /*Set left margin to -(RightColumnWidth) */
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

#globe3d  /*Earth Plugin Div Styles*/
{
width:688px;
height: 580px; 
border: 1px solid #d5d5d5;   
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
}

#globe3d.wizardhide
{
visibility:collapse;
height:0px;
}

#globe3d.wizard
{
width:588px;
height: 400px;
}

#nowshowing
{
width:280px;
height:198px;	
}

#nowshowing a
{
text-decoration:none;
color:#669900;
font-weight:bold;
}
#nowshowing a:hover
{
text-decoration:underline;
}

#summary
{
margin: 0px;
width: 278px;
}

#summary.main
{
height:160px;
text-overflow:ellipsis;
overflow:hidden;
white-space:normal;
}

#summary.head {
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;
}	

#summary.trail
{
text-align:right;
font-size:smaller;
}	


#stattbl {
width:100%;
table-layout:fixed;
border-collapse: collapse;
}

#stattbl td {
text-overflow:ellipsis;
padding:3px 0px 3px 0px;
overflow:hidden;
white-space:nowrap;
} 	


#lblsearch
{
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;
}

/*         S T Y L E S         F O R         G L O B E - L A Y E R        C O N T R O L S            */

#blue-marble{      /* Blue Marble Layer */
display: block; 	
width:35px;
height:35px;
outline:0px;
}
#blue-marble.off {
background:url('../images/seedlings/getoggle_nav.png') -0px 0px;
}

#blue-marble.off:hover { 
background:url('../images/seedlings/getoggle_nav.png') -0px -35px;
}
#blue-marble.checked { 
background:url('../images/seedlings/getoggle_nav.png') -0px -70px;
}
#blue-marble.checked:hover { 
background:url('../images/seedlings/getoggle_nav.png') -0px -35px;
}


#atmosphere{       /* Weather visibility */
display: block; 	
width:35px;
height:35px;
outline:0px;
}
#atmosphere.off {
background:url('../images/seedlings/getoggle_nav.png') -35px 0px;
}

#atmosphere.off:hover { 
background:url('../images/seedlings/getoggle_nav.png') -35px -35px;
}
#atmosphere.checked { 
background:url('../images/seedlings/getoggle_nav.png') -35px -70px;
}
#atmosphere.checked:hover { 
background:url('../images/seedlings/getoggle_nav.png') -35px -35px;
}

#border{        /* Borders visibility */
display: block; 	
width:35px;
height:35px;
outline:0px;
}
#border.off {
background:url('../images/seedlings/getoggle_nav.png') -70px 0px;
}

#border.off:hover { 
background:url('../images/seedlings/getoggle_nav.png') -70px -35px;
}
#border.checked { 
background:url('../images/seedlings/getoggle_nav.png') -70px -70px;
}
#border.checked:hover { 
background:url('../images/seedlings/getoggle_nav.png') -70px -35px;
}



.previewhead {
	border-top: 1px solid #fafafa;
    /* Curved Borders */
	-moz-border-radius-topleft: 5px;  
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;  
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-left-radius: 5px;     
	-khtml-border-top-right-radius: 5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d5d5d5));
	background: -moz-linear-gradient(top,  #e3e3e3,  #d5d5d5);
	/* Shadow effects */
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	box-shadow: 2px 2px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');
	/* Fonts */	
	-webkit-text-stroke: 1px transparent;
	padding:5px;
	font: bold 14px/18px "Lucida Grande", "Verdana", sans-serif;	
	min-height:20px;
}

.headreverse {
	border-top: 1px solid #fafafa;
    /* Curved Borders */
	-moz-border-radius-bottomleft: 5px;  
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;  
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;     
	-khtml-border-bottom-right-radius: 5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px; 
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d5d5d5));
	background: -moz-linear-gradient(top,  #e3e3e3,  #d5d5d5);
	/* Shadow effects */
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	box-shadow: 2px 2px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');
	/* Fonts */	
	-webkit-text-stroke: 1px transparent;
	padding:5px;
	font: bold 14px/18px "Lucida Grande", "Verdana", sans-serif;	
	min-height:20px;
}

.headflat {
	border-top: 1px solid #fafafa;
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d5d5d5));
	background: -moz-linear-gradient(top,  #e3e3e3,  #d5d5d5);
	/* Shadow effects */
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	box-shadow: 2px 2px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');
	/* Fonts */	
	-webkit-text-stroke: 1px transparent;
	padding:5px;
	font: bold 14px/18px "Lucida Grande", "Verdana", sans-serif;	
	min-height:20px;
}

.headround {
	border-top: 1px solid #fafafa;
	/* Curved Borders */
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	-khtml-border-radius: 5px;     
	border-radius: 5px; 
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#d5d5d5));
	background: -moz-linear-gradient(top,  #e3e3e3,  #d5d5d5);
	/* Shadow effects */
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	box-shadow: 2px 2px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');
	/* Fonts */	
	-webkit-text-stroke: 1px transparent;
	padding:5px;
	font: bold 14px/18px "Lucida Grande", "Verdana", sans-serif;	
	min-height:20px;
}

.previewcontent {
	border: 1px solid #E6E6E6;
    /* Curved Borders */
	-moz-border-radius-bottomleft: 5px;  
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;  
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;     
	-khtml-border-bottom-right-radius: 5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;  
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F0F0F0));
	background: -moz-linear-gradient(top,  #ffffff,  #F0F0F0);
	/* Shadow effects */
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	box-shadow: 2px 2px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');
	margin: 0em 0em 1em 0em;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	/* Fonts */	
	color:#40413f;
	-webkit-text-stroke: 1px transparent;
	font: normal 13px "Lucida Grande", "Verdana", sans-serif;
	padding:5px;

}

.contentflat {
	border: 1px solid #E6E6E6;
	/* Gradient */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F0F0F0));
	background: -moz-linear-gradient(top,  #ffffff,  #F0F0F0);
	/* Shadow effects */
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	box-shadow: 2px 2px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	/* Fonts */	
	color:#40413f;
	-webkit-text-stroke: 1px transparent;
	font: normal 13px "Lucida Grande", "Verdana", sans-serif;
	padding:5px;
}

.searchtxt{
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-webkit-text-stroke: 1px transparent;
	color: #40413f;
	border: 2px solid #cccccc;  
	padding:2px 2px 3px 2px;
	width:190px;
	height:15px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	-webkit-text-stroke: 1px transparent;
	color:#40413f;
	font: normal 12.5px "Lucida Grande", "Verdana", sans-serif;
	outline: none; 
    /* Curved Borders */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; 
}

.searchtxt:hover{
	border: 2px solid #7AAAC2;   
}

.searchtxt:focus {
	border: 2px solid #7AAAC2;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#ffffff));
	background: -moz-linear-gradient(top,  #F0F0F0,  #ffffff);
}