require "set"

#id
{}

#tabseed /*The table containing Globe and Form*/
{
border-collapse:collapse;
width:100%;
padding:0px;
vertical-align:top;  
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#map3d  /*Earth Plugin Div Styles*/
{
border-style:solid;
border-color:#669900;
border-width:1px;

height: 100%; 
width: 100%;
padding:4px;
}

#map3d.show {
height: 150px;
width: 95%;
border: 1px solid #669900;
padding:4px;
}


#globecolumn  /* The column containing map3d globe */
{
height:600px;
width:60%;
padding:5px;
}

#globecolumn.index  /* The column containing map3d globe */
{
width:75%;
padding:0px;
}

#details-column {
	width: 30%;
	height: auto;
	color: #fef165;
	border: 2px solid #3e779d;
	background-color: #669900;
	padding:4px;
}


#formcolumn   
{
vertical-align:top;
width:40%;
padding:10px;
}
#formcolumn.index
{width:25%;
padding:10px;
}


#globecontrols
{
width:100%;
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#globecontrols a
{
text-decoration:none;
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#showseed
{
vertical-align:top;
width:100%;
padding:20px;
}

#flyto{
display: block; 	
width:66px;
height:25px;
background:url('../images/seedlings/fly.jpg') -4px -4px;
}
#flyto:hover { 
background:url('../images/seedlings/fly.jpg') -4px -30px;
}
#flyto:active { 
background:url('../images/seedlings/fly.jpg') -4px -58px;
}


#reset{
display: block; 	
width:66px;
height:25px;
padding:0px;
background:url('../images/seedlings/plant.jpg') -4px -4px;
}
#reset:hover { 
background:url('../images/seedlings/plant.jpg') -4px -30px;
}
#reset:active { 
background:url('../images/seedlings/plant.jpg') -4px -58px;
}

#search{
display: block; 	
width:66px;
height:25px;
padding:0px;
background:url('../images/seedlings/search.jpg') -4px -4px;
}
#search:hover { 
background:url('../images/seedlings/search.jpg') -4px -30px;
}
#search:active { 
background:url('../images/seedlings/search.jpg') -4px -58px;
}

#next{
display: block; 	
width:66px;
height:25px;
padding:0px;
background:url('../images/seedlings/next.jpg') -4px -4px;
}
#next:hover { 
background:url('../images/seedlings/next.jpg') -4px -30px;
}
#next:active { 
background:url('../images/seedlings/next.jpg') -4px -58px;
}

#prev{
display: block; 	
width:66px;
height:25px;
padding:0px;
background:url('../images/seedlings/prev.jpg') -4px -4px;
}
#prev:hover { 
background:url('../images/seedlings/prev.jpg') -4px -30px;
}
#prev:active { 
background:url('../images/seedlings/prev.jpg') -4px -58px;
}
#prev:disabled { 
background:url('../images/seedlings/prev.jpg') -4px -84px;
}

#imggrid
{
padding: 4px;
background-color:#E6E6E6;
border:1px solid #83B0C6;
/* Curved Borders */
-moz-border-radius: 3px;  
-webkit-border-radius: 3px;  
-khtml-border-radius: 3px;     
border-radius: 3px;          

/* Shadow effects */
-moz-box-shadow: 2px 2px 3px #CCCCCC;
-webkit-box-shadow: 2px 2px 3px #CCCCCC;
box-shadow: 2px 2px 3px #CCCCCC;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');

/* Font properties */
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
text-align:left;
}

#imggrid.admindiv{
background-image: url('../images/seedlings/paw.png');
background-repeat: no-repeat;
background-position: right top;
min-height:150px;
}

#imggrid.mapdiv{
text-align:center;
}

#balloongrid
{
margin-top:0px;
padding:4px;
background-color:#E6E6E6;
border:1px solid #83B0C6;
Font-size:13px;
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
width:350px;
min-height:140px;

-moz-border-radius: 3px;  
-webkit-border-radius: 3px;  
-khtml-border-radius: 3px;     
border-radius: 3px;          
}


#imggridmore
{
padding: 4px;
background-color:#E6E6E6;
border-left:1px solid #83B0C6;
border-right:1px solid #83B0C6;
border-top:1px solid #83B0C6;

-moz-border-radius-topleft: 3px;  
-moz-border-radius-topright: 3px;
-webkit-border-top-left-radius: 3px;  
-webkit-border-top-right-radius: 3px;
-khtml-border-top-left-radius: 3px;     
-khtml-border-top-right-radius: 3px;
border-top-left-radius:3px;
border-top-right-radius:3px;          

-moz-box-shadow: 2px 2px 3px #CCCCCC;
-webkit-box-shadow: 2px 2px 3px #CCCCCC;
box-shadow: 2px 2px 3px #CCCCCC;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');

font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
text-align:left;
}

#imggridmore.projectdiv{
text-align:center;
}

#imggridclip
{
padding: 4px;
background-color:#E6E6E6;
border-left:1px solid #83B0C6;
border-right:1px solid #83B0C6;
border-bottom:1px solid #83B0C6;

-moz-border-radius-bottomleft: 3px;  
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-left-radius: 3px;  
-webkit-border-bottom-right-radius: 3px;
-khtml-border-bottom-left-radius: 3px;     
-khtml-border-bottom-right-radius: 3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px         

-moz-box-shadow: 2px 2px 3px #CCCCCC;
-webkit-box-shadow: 2px 2px 3px #CCCCCC;
box-shadow: 2px 2px 3px #CCCCCC;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#CCCCCC');

font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
text-align:left;
}

#imggridclip.bylinediv{
font-size:16px;
text-align:center;
}

#imggridclip.clip{
text-align:center;
}

#tabseedlings /*tour Destinations Styles*/
{
border-collapse:collapse;
width:100%;
padding: 5px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-align:left;
}

#switchlist
{
list-style-type:none;
padding:5px;
margin:0px;
}

#switchlist li
{
padding:5px;
}

#switchlist a
{
text-decoration:none;
color:#307BA0;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
}

#switchlist a:hover {background-color:#307BA0;color:#ffffff;}

#seedling-details-image 
{
vertical-align:top;
border: 2px solid #3e779d;
background-color: #669900;
padding:4px;
}

body{
margin:0;
padding:0;
}

#maincontainer{
width: 1000px;    /*Width of main container*/
margin: 0 auto;  /*Center container on page*/
}

#contentwrapper{
float: left;
width: 100%;
min-height:30px;
}

#contentcolumn{
margin-right: 360px;   /*Margin for content column. Should be (RightColumnWidth + LeftColumnWidth)*/
color:#307BA0;
}

#leftcolumn{
float: left;
width: 200px;          /*Width of left column in pixel*/
margin-left: -360px;   /*Set margin to -(LeftColumnWidth + RightColumnWidth)*/
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#rightcolumn{
float: left;
width: 160px;          /*Width of right column in pixels*/
margin-left: -160px;   /*Set margin to -RightColumnWidth*/
color:#307BA0;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}

#footer{
clear: left;
width: 100%;
padding: 4px;
background-color:#E6E6E6;
border:1px solid #83B0C6;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#669900;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin-right: 10px;           /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

#textdiv{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
vertical-align:bottom;
padding-left:5px;
min-height:30px;
}

#audiodiv{
float: left;
width: 320px;          /*Width of left column in pixel*/
margin-left: -320px;   /*Set margin to -(LeftColumnWidth + RightColumnWidth)*/
text-align:right;
}

#btndiv{
float: left;
width: 320px;   
}


#descrdiv{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
}

.titlecolor
{
color:#669900;	
}

q:lang(en)
{
quotes: "«" "»" "'" "'";
}

#proj-img
{
max-width:620px;	
max-height:500px;
background-image: url('../images/seedlings/load.gif');
background-repeat: no-repeat;
background-position:center;
}

#more-link
{
border:3px solid #CCCCCC;	
margin:3px;
max-width:150px;	
max-height:100px;
}

#more-link:hover 
{
border:3px solid #ffffff;	
}

#lbladdress
{
padding:4px;
}

#map_canvas
{
background-image: url('../images/seedlings/load.gif');
background-repeat: no-repeat;
background-position:center;
}

#map_canvas_thumb
{
background-image: url('../images/seedlings/load.gif');
background-repeat: no-repeat;
background-position:center;
}

#index-background-column {
	background: url('../images/seedlings/seedling_art2.jpg');
	min-height: 600px;
	min-width: 300px;
	font-size:12px;
    color: #307BA0;
	border: 1px solid #669900;
	margin:4px;
	padding:4px;
}

