%h2
  = @user.username

%p
  %b Account Type:
  = @user.account_type
%p
  = image_tag @user.avatar.url(:square)

%p #{@user.username}'s seedlings

#user_seedlings
  - @user.seedlings.each do |seedling|
    %a{:href => seedling_path(seedling)}
    %img{:src => seedling.project.url(:thumb)}/