%script{ :type => "text/javascript"}
  /* Created by jankoatwarpspeed.com */

  (function($){
  
  $.fn.formToWizard = function(options){
  options = $.extend({
  submitButton: ""
  }, options);
  
  var element = this;
  
  var steps = $(element).find("fieldset");
  var count = steps.size();
  var submmitButtonName = "#" + options.submitButton;
  /$(submmitButtonName).hide();
  

  steps.each(function(i){
  $(this).wrap("<div id='step" + i + "'></div>");
  $(this).append("<p id='step" + i + "commands'></p>");
  
  // 2
  var name = $(this).find("legend").html();
  $("#steps").append("<li id='stepDesc" + i + "'>Step " + (i + 1) + "<span>" + name + "</span></li>");
  
  if (i == 0) {
  createNextButton(i);
  selectStep(i);
  }
  else 
  if (i == count - 1) {
  $("#step" + i).hide();
  createPrevButton(i);
  }
  else {
  $("#step" + i).hide();
  createPrevButton(i);
  createNextButton(i);
  }
  });
  
  function createPrevButton(i){
  
  var stepName = "step" + i;
  $("#" + stepName + "commands").append("<a href='#' id='" + stepName + "Prev' class='prev'>< Back</a>");
  
  $("#" + stepName + "Prev").bind("click", function(e){
  //if (ValidateCurrentStep(i+1)) {
  $("#" + stepName).hide();
  $("#step" + (i - 1)).fadeIn(2000);
  $("#step" + (i - 1)).show();
  /$(submmitButtonName).hide();
  selectStep(i - 1);
  //}
  });
  }
  
  function createNextButton(i){
  
  var stepName = "step" + i;
  $("#" + stepName + "commands").append("<a href='#' id='" + stepName + "Next' class='next'>Next ></a>");
  $("#SignupForm").validate().form()
  $("#" + stepName + "Next").bind("click", function(e){
  
  if (ValidateCurrentStep(i+1)) {
  $("#" + stepName).hide();
  $("#step" + (i + 1)).fadeIn(2000);
  $("#step" + (i + 1)).show();
  /if (i + 3 == count) 
  /$(submmitButtonName).show();
  selectStep(i + 1);
  }
  });
  }
  
  function selectStep(i){
  
  hidemsg();
  
  $("#steps li").removeClass("current");
  
  $("#stepDesc" + i).addClass("current");

  if (i == 4) {
  for(var j = 0; j <= 4; j++) {
  $("#preview" + (j+1)).addClass("active");}
  } 
  else {
  for(var j = 0; j <= 4; j++) {
  $("#preview" + (j+1)).removeClass("active");}
  }   
  
  // Switch the opacity of previews depending on current step
  $("#preview" + (i+1)).addClass("active");
 
  // Show globe and its controls only on the Location step
  if (i != 3) {
  $("#globe3d").removeClass("wizard");
  $("#controls").removeClass("show");
  $("#placeholderimg").removeClass("inactive");
  }
  // Else hide globe and its controls.
  else {
  $("#globe3d").addClass("wizard");
  $("#controls").addClass("show");
  $("#placeholderimg").addClass("inactive");
  }
  }
  
  $('#uploadForm input').change(function(){
  $(this).parent().ajaxSubmit({
  beforeSubmit: function(a,f,o) {
  o.dataType = 'json';
  },
  complete: function(XMLHttpRequest, textStatus) {
  alert(XMLHttpRequest.responseText);
  // XMLHttpRequest.responseText will contain the URL of the uploaded image.
  // Put it in an image element you create, or do with it what you will.
  // For example, if you have an image elemtn with id "my_image", then
  //  $('#my_image').attr('src', XMLHttpRequest.responseText);
  // Will set that image tag to display the uploaded image.
  },
  });
  });   
  }
  })(jQuery);
  
 
  //  V A L I D A T I O N S      F O R      E A C H      S T E P 
  function ValidateCurrentStep(step) {
  
  var errordiv = document.getElementById("errordiv")
  
  switch(step+1)
  {
  case 1:
  return true;
  break;
  
  case 2:  // - - - - Project step - - - - //
  var validfile = false;

  for (var i = 0; i < fileTypes.length; i++) {
  if (fileTypes[i] == ext) {
  validfile = true;} 
  }

  if (validfile) {
  errordiv.className = "invisible";
  return true;} else {
  setOpacity('0', 'errordiv');
  errordiv.innerHTML = "Please upload a valid image File!";
  errordiv.className = "visible";
  fadeIn('errordiv');
  return false;}
  
  if (document.getElementById("picField").value != "" && document.getElementById("picField").value != null) {
  errordiv.className = "invisible";
  return true;} else {
  setOpacity('0', 'errordiv');
  errordiv.innerHTML = "Please upload a project!";
  errordiv.className = "visible";
  fadeIn('errordiv');
  return false;}
  break;
  
  case 3:  // - - - - Title and Tags - - - - //
  if (document.getElementById("Title").value != "" && document.getElementById("Title").value != null) {
  errordiv.className = "invisible";
  return true;} else {
  setOpacity('0', 'errordiv');
  errordiv.innerHTML = "Please enter a Title!";
  errordiv.className = "visible";
  fadeIn('errordiv');
  return false;}
  break;
  
  case 4:  // - - - - Artist's statement - - - - // 
  if (document.getElementById("Description").value != "" && document.getElementById("Description").value != null) {
  errordiv.className = "invisible";
  return true;} else {
  setOpacity('0', 'errordiv');
  errordiv.innerHTML = "Please enter some Statement!";
  errordiv.className = "visible";
  fadeIn('errordiv');
  return false;}
  break;
  
  case 5:  // - - - - valid Geo Fields - - - - //   
  var latval = document.getElementById("lat").value;
  var lonval = document.getElementById("lon").value;
  var altval = document.getElementById("alt").value;
  
  
  if (latval == null || latval == "" || !latval.toString().match(/^[-]?\d*\.?\d*$/) || -90 > latval || 90 < latval) {
  setOpacity('0', 'errordiv');
  errordiv.innerHTML = "Invalid Latitude!";
  errordiv.className = "visible";
  fadeIn('errordiv');
  return false;
  } 
  else if (lonval == null || lonval == "" || !lonval.toString().match(/^[-]?\d*\.?\d*$/) || -180 > lonval || 180 < lonval) {
  setOpacity('0', 'errordiv');
  errordiv.innerHTML = "Invalid Longitude!";
  errordiv.className = "visible";
  fadeIn('errordiv');  
  return false;
  } 
  
  else if (altval == null || altval == "" || !altval.toString().match(/^[-]?\d*\.?\d*$/) || -500 > altval || 10000< altval) {
  setOpacity('0', 'errordiv');
  errordiv.innerHTML = "Invalid Altitude!";
  errordiv.className = "visible";
  fadeIn('errordiv');  
  return false;
  } 
  
  else {
  errordiv.className = "invisible";
  return true;}

  break;   

  case 6:
  return true;
  break;
  
  default:
  alert('some problem');
  }
  }
  
  // hide the validation error message
  function hidemsg() {
  document.getElementById("errordiv").className = "invisible";
  }
  
  // submit the form
  function submitform() {
  document.getElementById("SignupForm").submit() ;
  }
   