

%div{:id => "maincontainer"}
  %div{:id => "contentwrapper"}
    // G L O B E      C O L U M N
    %div{:id => "earthdiv"}
      %div{:id => "imggrid"}
        // The Google Earth Block        
        %div{:id => "globe3d"}
        
        %div{:class => "paneldiv", :style => "height:40px"}        
          %table{:id => "globecontrols"}
            %tr
              %td{:style => "width:40px;"}
                %a{:id => "blue-marble", :class => "checked", :href => "javascript:getoggle('kml-blue-marble-check','blue-marble');", :onMouseOver =>"javascript:toggletext('Show/hide blue-marble');", :onmouseout=>"javascript:toggletext('');"}
              %td{:style => "width:40px;"}
                %a{:id => "atmosphere", :class => "checked", :href => "javascript:getoggle('kml-atmosphere-check','atmosphere');", :onMouseOver =>"javascript:toggletext('Show/hide Atmosphere');", :onmouseout=>"javascript:toggletext('');"}
              %td{:style => "width:40px;"}
                %a{:id => "border", :class => "off", :href => "javascript:getoggle('kml-border-check','border');", :onMouseOver =>"javascript:toggletext('Show/hide Borders');", :onmouseout=>"javascript:toggletext('');"}
              %td{:style => "vertical-align:bottom", :align => "right"}
                %div{:id => "toggletext"}
                
        // A hidden div containing checkboxes to toggle Google earth layers visibility          
        %div{:id => 'checkboxes-ui', :style => "visibility:collapse; height:0px"}
          %td{:id => 'checkboxes-ui'}
      
      %br
  
  // C O N T R O L S      C O L U M N
  %div{:id => "indexcontrols"}
    .innertube
      %div{:id => "imggrid"}
        
        %div{:id => "nowshowing"}
              
                   
      %br
      %div{:id => "imggrid"}
        %table{:id => "stattbl"}
          %tr
            %td{:class => "titlecolor"} 
              Showing seedlings       
            %td
              %div{:id => "lblsearch"}
          %tr
            %td{:class => "titlecolor"}
              Seedlings displayed
            %td
              %div{:id => "lblshowing"}
          %tr
            %td{:class => "titlecolor"}
              Now viewing
            %td    
              %div{:id => "lblcurrent"}
        %table{:style => "width:100%"}  
          %tr
            %td{:align => "right"}
              %a{:id => "prev", :Title => "Jump to Next seedling", :href => "javascript:previous()"}
            %td{:align => "left"}  
              %a{:id => "next", :Title => "Jump to Previous seedling", :href => "javascript:next()"}
            
      %br        
      %div{:id => "imggrid"}
        
        %ul{:id => "switchlist"}
          %li
            %div{:id => "list_a_excl_collapsed", :class => "paneldiv", :style => "display:block" }
              %a{:href => "javascript:swap('list_a_excl',groupA)"} 
                %b Fly to any destination on the globe
            %div{:id =>"list_a_excl_expanded", :class => "paneldiv", :style => "display:none"}
              %a{:href => "javascript:swap('list_a_excl',groupA)"} 
                %b  Close Fly to Controls
                     
              %table 
                %tr
                  %td{:align => "left"}
                    %input{:id => "txtflyto", :Size => "20", :type => "text", :value => "San Francisco, CA", :onkeydown => "if (event.keyCode == 13) javascript:FlytoClick()" }/              
                  %td{:align => "left"}  
                    %a{:id => "flyto", :Title => "Fly to the Entered Destination", :href => "javascript:FlytoClick()"}
                
          %li
            %div{:id => "list_b_excl_collapsed", :class => "paneldiv", :style => "display:block"}
              %a{:href => "javascript:swap('list_b_excl',groupA)"} 
                %b Search for Seedlings
            %div{:id => "list_b_excl_expanded", :class => "paneldiv", :style => "display:none"}
              %a{:href => "javascript:swap('list_b_excl',groupA)"} 
                %b Close Search
              %table{:class => "auto_complete"}
                %tr     
                  %td{:align => "left"}= text_field_with_auto_complete_with_id_checking(:seedling, :title, {:id =>'txtsearch',:skip_style => true, :size => "20", :onkeydown => "if (event.keyCode == 13) javascript:seedsearch()" })  
                                        
                  %td{:align => "left"}  
                    %a{:id => "search", :Title => "Seach for the Seedlings", :href => "javascript:seedsearch()"}
                  %td by Title
              
                %tr  
                  %td{:align => "left"}= text_field_with_auto_complete_with_id_checking(:tag, :name, {:id =>'tagsearch',:size => "20", :onkeydown => "if (event.keyCode == 13) javascript:tagsearch()" })
                   
                  %td{:align => "left"}  
                    %a{:id => "search", :Title => "Seach for the Seedlings", :href => "javascript:tagsearch()"}
                  %td by Tag
            
  %div{:id => "footer"}
    Copyright &copy; 2009-2010 Karunatree. #{link_to "Contact Us", contact_path}    