

%div{:id => "maincontainer"}
  %div{:id => "contentwrapper"}
    // G L O B E      C O L U M N
    %div{:id => "earthdiv"}
      //%div{:id => "imggrid"}
      // The Google Earth Block        
      %div{:id => "globe3d"}
      
      %div{:class => "headreverse"}        
        %table{:style => "width:100%;"}
          %tr
            %td{:style => "width:40px;"}
              %a{:id => "blue-marble", :class => "checked", :href => "javascript:getoggle('kml-blue-marble-check','blue-marble');", :onMouseOver =>"javascript:toggletext('Show/hide blue-marble');", :onmouseout=>"javascript:toggletext('');"}
            %td{:style => "width:40px;"}
              %a{:id => "atmosphere", :class => "checked", :href => "javascript:getoggle('kml-atmosphere-check','atmosphere');", :onMouseOver =>"javascript:toggletext('Show/hide Atmosphere');", :onmouseout=>"javascript:toggletext('');"}
            %td{:style => "width:40px;"}
              %a{:id => "border", :class => "off", :href => "javascript:getoggle('kml-border-check','border');", :onMouseOver =>"javascript:toggletext('Show/hide Borders');", :onmouseout=>"javascript:toggletext('');"}
            %td{:style => "vertical-align:bottom", :align => "left"}
              %div{:id => "toggletext"}
            %td{:style => "vertical-align:bottom; width:200px;", :align => "center"}
              -if current_user
                %a{:class => "createnew", :href => new_seedling_path}
                  Create new Seedling
                  
              
      // A hidden div containing checkboxes to toggle Google earth layers visibility          
      %div{:id => 'checkboxes-ui', :style => "visibility:collapse; height:0px"}
        %td{:id => 'checkboxes-ui'}
      
      %br
  
  // C O N T R O L S      C O L U M N
  %div{:id => "indexcontrols"}

    .innertube
      %a{:class => "createnew", :href => "javascript:seedsearchall();"}
        All Seedlings  
      %br      
      
      %div{:class => "previewhead", :style =>"min-height:20px;"}
        %div{:id => "nowshowinghead"}
          Focused on
      %div{:class => "contentflat"}  
        %div{:id => "nowshowing"}
          =image_tag "../images/seedlings/load.gif", :style=>"margin-top: 80px; margin-left:120px"
              
                   
      
      %div{:class => "headflat", :style =>"min-height:20px;"}
        Seedling Stats
      %div{:class => "contentflat"}
        %table{:id => "stattbl"}
          %tr
            %td{:class => "titlecolor"} 
              Showing seedlings       
            %td
              %div{:id => "lblsearch"}
          %tr
            %td{:class => "titlecolor"}
              Seedlings displayed
            %td
              %div{:id => "lblshowing"}
          %tr
            %td{:class => "titlecolor"}
              Now viewing
            %td    
              %div{:id => "lblcurrent"}
        %table{:style => "width:100%"}  
          %tr
            %td{:align => "right", :id => "prevbtn"}
              %img{:id => "prev", :class => "disabled", :src => "/images/seedlings/trans.gif", :width => "1px", :height => "1px"}
              //%a{:id => "prev", :class => "enabled", :Title => "Jump to Next seedling", :href => "javascript:previous()"}
            %td{:align => "left", :id => "nextbtn"}  
              %img{:id => "next", :class => "disabled", :src => "/images/seedlings/trans.gif", :width => "1px", :height => "1px"}
              //%a{:id => "next", :class => "enabled", :Title => "Jump to Previous seedling", :href => "javascript:next()"}

   
      %ul{:id => "switchlist"}
        %li
          %div{:id => "list_a_excl_collapsed", :class => "headflat", :style => "display:block" }
            %a{:href => "javascript:swap('list_a_excl',groupA)"} 
              Fly to a known destination 
              %div{:class => "accord"} &#9660;
          %div{:id =>"list_a_excl_expanded", :style => "display:none"}
            %div{:class => "headflat"}
              %a{:href => "javascript:swap('list_a_excl',groupA)"} 
                Close Fly to Controls 
                %div{:class => "accord"} &#9650;
            %div{:class => "contentflat"}         
              %table 
                %tr
                  %td{:align => "left"}
                    %input{:id => "txtflyto", :type => "text",:class => "searchtxt", :placeholder => "San Francisco, CA", :onkeydown => "if (event.keyCode == 13) javascript:FlytoClick()" }/              
                  %td{:align => "right"}  
                    %a{:id => "flyto", :Title => "Fly to the Entered Destination", :href => "javascript:FlytoClick()"}
              
        %li
          %div{:id => "list_b_excl_collapsed", :class => "headreverse", :style => "display:block"}
            %a{:href => "javascript:swap('list_b_excl',groupA)"} 
              Search for Seedlings
              %div{:class => "accord"} &#9660;
          %div{:id => "list_b_excl_expanded", :style => "display:none"}
            %div{:class => "headflat", :style =>"min-height:20px;"}
              %a{:href => "javascript:swap('list_b_excl',groupA)"} 
                Close Search 
                %div{:class => "accord"} &#9650;
            %div{:class => "previewcontent"}
              %table{:class => "auto_complete"}
                %tr     
                  %td{:align => "left"}= text_field_with_auto_complete_with_id_checking(:seedling, :title, {:id =>'txtsearch',:class => "searchtxt", :placeholder => "Start typing a Title..."})  
                                        
                  %td{:align => "right"}  
                    %a{:id => "search", :Title => "Search for the Seedlings", :href => "javascript:seedsearch()"}
                  
              
                %tr  
                  %td{:align => "left"}= text_field_with_auto_complete_with_id_checking(:tag, :name, {:id =>'tagsearch',:class => "searchtxt", :placeholder => "Start typing a Tag..."})
                   
                  %td{:align => "right"}  
                    %a{:id => "search", :Title => "Search for the Seedlings", :href => "javascript:tagsearch()"}
        
   
              
  %div{:id => "footer"}
    Copyright &copy; 2009-2011 Karunatree LLC. #{link_to "Contact Us", contact_path}    