//   Karunatree
//   Copyright 2009-2010 Derek Lyons & Karunatree. All Rights Reserved.
//   
//   Author: Raminder Goraya & Jason Lu

%script{:type => "text/javascript"}
  
  // L O O K - A T       U P O N      S E E D L I N G S
  function lookat()
  {  
  // Get the current range
  var camera = ge.getView().copyAsLookAt(ge.ALTITUDE_RELATIVE_TO_GROUND);    
  // look at the last seedling matching search criteria
  var lookAt = ge.createLookAt('');
  
  // The initial range is set to 9000000. 
  if (initzoom)
  {lookAt.set(matchseeds[currentseed].seedling.lat, matchseeds[currentseed].seedling.lon, 10, ge.ALTITUDE_RELATIVE_TO_GROUND, 0, 0, 9000000);}
  // after that all look at's are performed with range same as current zoom by the user
  else
  {lookAt.set(matchseeds[currentseed].seedling.lat, matchseeds[currentseed].seedling.lon, 10, ge.ALTITUDE_RELATIVE_TO_GROUND, 0, 0, camera.getRange());}
  // after first zoom is done, the flag is set off.
  initzoom=false;
  
  ge.getOptions().setFlyToSpeed(0.6);
  ge.getView().setAbstractView(lookAt);
  
  // Display the summaryof currently looked at seedling
  SeedSummary(currentseed);
  
  // Update the cookie to currently viewed Seedling
  lastviewed = currentseed;
  /alert(lastviewed);
  setCookie('seedtoshow',lastviewed,365);
  }
  
  function SeedSummary(for_this_seed)
  {
  // Retireve Link to show page for this seedling
  var link = go_to_link(matchtitles[for_this_seed]);
  link_to_details = "here";
  link_to_details = link_to_details.link(link);
  // Retireve  Url of the thumbnail Image to be displayed
  var imageurl = matchimageurls[for_this_seed];
  // Create an inner html 
  
  var descr = (matchseeds[for_this_seed].seedling.description)
  if (descr.length > 300)
  {descr = descr.substring(0,300) + '...';}
  
  
  var headinnerhtml = '<div id="summary" class="head">Focused on <font class="titlecolor">' + matchseeds[for_this_seed].seedling.title + '</font></div>'
  var innerhtml = 
  '<div id = "summary" class="main"> <a href="' + link + '">'
  + '<img class="more-link" src="' + imageurl + '" align="left" alt="Project image" /> </a>'
  + descr + '</div><br>' 
  + '<div id="summary" class="trail">click on the Image above or ' + link_to_details + ' to view details.</div>';
  
  // set opacity to zero
  setOpacity(0, 'nowshowing');
  // change the innerHTML content
  document.getElementById("nowshowing").innerHTML =  innerhtml;
  document.getElementById("nowshowinghead").innerHTML =  headinnerhtml;
  // Fade In
  fadeIn('nowshowing');
  }

  // P O P U L A T E      S T A T S      F O R      S E A R C H
  function summarize(count, searchstring, matchseeds, currentseed) {
  //alert('aye')
  // Initiate Buttons to Disabled state  
  document.getElementById("nextbtn").innerHTML = '<img id="next" class="disabled" src="/images/seedlings/trans.gif" width="1" height="1" />';
  document.getElementById("prevbtn").innerHTML = '<img id="prev" class="disabled" src="/images/seedlings/trans.gif" width="1" height="1" />';
  
  // Show count
  document.getElementById("lblshowing").innerHTML =  count; 
  
  // Show the Search Criteria
  if (searchstring != "" && count!=0) {
  document.getElementById("lblsearch").innerHTML =  "containing \"" + searchstring + "\""; }
  else 
  if(searchstring != "") {
  document.getElementById("lblsearch").innerHTML =  "No seedlings match";}
  else {
  document.getElementById("lblsearch").innerHTML =  "All"; }
  
  var length = parseInt(matchseeds.length);
  
  // Show Current seed message and enable Next button if more than 1 seedlings match the search criteria
  if (length == 0) {
  document.getElementById("lblcurrent").innerHTML =  (currentseed) + " of " + (matchseeds.length); } 
  else if (length == 1) {
  document.getElementById("lblcurrent").innerHTML =  (currentseed + 1) + " of " + (matchseeds.length); } 
  else if (length > 1) {
  document.getElementById("lblcurrent").innerHTML =  (currentseed + 1) + " of " + (matchseeds.length);
  document.getElementById("nextbtn").innerHTML =  '<a id="next" class="enabled" title = "Jump to Next seedling" href ="javascript:next()"> </a>'; }
  
  } 
  
  // N E X T > >
  function next() {
  
  if (currentseed < matchseeds.length-1)
  { 
  currentseed++;
  lookat();
  document.getElementById("lblcurrent").innerHTML =  (currentseed + 1) + " of " + matchseeds.length; 
  document.getElementById("prevbtn").innerHTML =  '<a id="prev" class="enabled" title = "Jump to Previous seedling" href ="javascript:previous()"> </a>';
  
  if (currentseed == matchseeds.length-1) {
  document.getElementById("nextbtn").innerHTML = '<img id="next" class="disabled" src="/images/seedlings/trans.gif" width="1" height="1" />';}
  }
  
  
  
  else {document.getElementById("lblcurrent").innerHTML =  "Last Seedling!!!"; }
  }
  
  // < < P R E V I O U S
  function previous()  
  {
  if (currentseed > 0)
  {
  currentseed--;
  lookat(); 
  document.getElementById("lblcurrent").innerHTML =  (currentseed + 1) + " of " + matchseeds.length; 
  document.getElementById("nextbtn").innerHTML =  '<a id="next" class="enabled" title = "Jump to Next seedling" href ="javascript:next()"> </a>';
  if (currentseed == 0) {
  document.getElementById("prevbtn").innerHTML = '<img id="prev" class="disabled" src="/images/seedlings/trans.gif" width="1" height="1" />';}  
  }
  
  else {document.getElementById("lblcurrent").innerHTML =  "First Seedling!!!"; }
  }  

  
  //   F U N C T I O N        F O R         F L Y - T O        
  function FlytoClick() 
  {    
  var geocodeLocation = document.getElementById('txtflyto').value;
  var geocoder = new google.maps.ClientGeocoder();
  geocoder.getLatLng(geocodeLocation, function(point) {
  if (point) {
  var lookAt = ge.createLookAt('');
  lookAt.set(point.y, point.x, 10, ge.ALTITUDE_RELATIVE_TO_GROUND, 0, 0, 9000000);
  ge.getOptions().setFlyToSpeed(0.6 );
  ge.getView().setAbstractView(lookAt);
  }
  });

  // clear the search textbox
  document.getElementById('txtflyto').value =  ""; 

  }
  
  //  C R E A T E       D E T A I L S       P A G E       L I N K  
  function go_to_link(symbol)
  {
  part_of_link = symbol;
  full_link = "/seedlings/" + part_of_link;
  return full_link;
  }
  
  
  //   F U N C T I O N S       F O R       S W I T C H - L I S T S
  var groupA = new Array();
  groupA[groupA.length] = "list_a_excl";
  groupA[groupA.length] = "list_b_excl";
  groupA[groupA.length] = "list_c_excl";
  groupA[groupA.length] = "list_d_excl";
  
  // Swapping the Lists
  function swap(listIdPrefix, group) {
  collapsedList = document.getElementById(listIdPrefix + "_collapsed");
  expandedList = document.getElementById(listIdPrefix + "_expanded");
  if (collapsedList.style.display == "block") 
  {
  collapsedList.style.display = "none";
  expandedList.style.display = "block";
  } 
  else 
  {
  collapsedList.style.display = "block";
  expandedList.style.display = "none";
  }
  if (group) 
  {
  ensureExclusivity(listIdPrefix, group);}
  }
  
  // Ensuring Exclusivity
  function ensureExclusivity(listIdPrefix, group) 
  {
  for (var i = 0; i < group.length; i++) {
  if (group[i] != listIdPrefix) {
  document.getElementById(group[i] + "_collapsed").style.display = "block";
  document.getElementById(group[i] + "_expanded").style.display = "none";} }
  }
  
  
  //   F U N C T I O N S       F O R       C O O K I E S
  function getCookie(c_seed)
  {
  if (document.cookie.length>0)
  {
  c_start=document.cookie.indexOf(c_seed + "=");
  if (c_start!=-1)
  { 
  c_start=c_start + c_seed.length+1 ;
  c_end=document.cookie.indexOf(";",c_start);
  if (c_end==-1) c_end=document.cookie.length
  return unescape(document.cookie.substring(c_start,c_end));
  } 
  }
  return ""
  }

  function setCookie(c_seed,value,expiredays)
  {
  var exdate=new Date();
  exdate.setDate(exdate.getDate()+expiredays);
  document.cookie=c_seed+ "=" +escape(value)+((expiredays==null) ? "" : "; expires="+exdate.toUTCString());
  }

  function checkCookie()
  {
  seedtoshow=getCookie('seedtoshow');
  if (seedtoshow!=null && seedtoshow!="")
  {
  currentseed = parseInt(seedtoshow);
  }
  }

  
  // F U N C T I O N S       F O R       F A D E - I N       E F F E C T
  
  function setOpacity(level, el) {
  var element = document.getElementById(el);
  element.style.opacity = level;
  element.style.MozOpacity = level;
  element.style.KhtmlOpacity = level;
  element.style.filter = "alpha(opacity=" + (level * 100) + ");";
  }
  // fade in the seedling summary
  
  function fadeIn(elementid) {
  var duration = 1000;  /* 1000 millisecond fade = 1 sec */
  var steps = 30;       /* number of opacity intervals   */
  for (i = 0; i <= 1; i += (1 / steps)) {
  setTimeout("setOpacity(" + i + ",\"" + elementid + "\")", i * duration); }
  }
  
  function fadeOut(elementid) {
  var duration = 1000;  /* 1000 millisecond fade = 1 sec */
  var steps = 30;       /* number of opacity intervals   */
  for (i = 1; i >= 0; i -= (1 / steps)) {
  setTimeout("setOpacity(" + i + ",\"" + elementid + "\")", i * duration); }
  }  
  
  
  //   F U N C T I O N S       F O R       G L O B E - L A Y E R S      T O G G L E 
  function getoggle(checkboxid,linkid) 
  {
  document.getElementById(checkboxid).checked = !(document.getElementById(checkboxid).checked);
  
  var element = document.getElementById(linkid)
  
  if (element.className == 'checked')
  {element.className = 'off';}
  else if (element.className == 'off')
  {element.className = 'checked';}
  
  if (checkboxid == 'kml-blue-marble-check')
  toggleKml('blue-marble');
  if (checkboxid == 'kml-border-check')
  toggleKml('border');
  if (checkboxid == 'kml-atmosphere-check')
  toggleKml('atmosphere');
  }  

  function toggletext(text)
  {
  document.getElementById("toggletext").innerHTML = text; 
  } 
  

  