- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "ktree-forms"

- title "Edit Seedling"

= render :partial => 'form'


%p
  = link_to "Show", seedling_path(@seedling)
  |
  = link_to "View All", seedlings_path
