<h1>Editing seedling</h1>

<% form_for(@seedling) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @seedling %> |
<%= link_to 'Back', seedlings_path %>