- title "Seedling"

%p
  %strong User:
  =h @seedling.user_id
%p
  %strong Title:
  =h @seedling.title
%p
  %strong Description:
  =h @seedling.description
%p
  %strong Lat:
  =h @seedling.lat
%p
  %strong Lon:
  =h @seedling.lon
%p
  %strong Alt:
  =h @seedling.alt

%p
  = link_to "Edit", edit_seedling_path(@seedling)
  |
  = link_to "Destroy", @seedling, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", seedlings_path
