<% content_for(:include_custom_stylesheet) do %>
  <%= stylesheet_link_tag "ktree-earth" %>
<% end %>

<% content_for(:include_custom_javascript_head) do %>
  <script type = "text/javascript">
    var CLOSURE_NO_DEPS = true;
    var CLOSURE_BASE_PATH = "/"; //The path where calcdeps.py was run
  </script>
  <%= javascript_include_tag "closure/goog/base.js" %>
  <%= javascript_include_tag "ktree/deps.js"%>
  <script src = "http://www.google.com/jsapi?key=ABQIAAAALuMnM-_PZBAC0jiiDlxy2xRGQdiD-hjaSRiclgqKLFtYALqY5BStWXbW2ka15MNHBzunqwVPJAJ65A" type="text/javascript"> </script>	  
  <script type = "text/javascript">
    //Closure needs to know what the entry point for our js library is in order to add the right resources to the header
    goog.require('ktree.Core');
  </script>
<% end %>

<% content_for(:include_custom_javascript_end) do %>
  <script type = "text/javascript">
    // Invoke the ktree js library
    var karunaTree = new ktree.Core(true);
    karunaTree.debugTemp();
  </script>
<% end %>

<div id="earth" class="left-column-content"></div>
<div id="script" class="right-column-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor luctus dictum. Fusce justo felis, sollicitudin id blandit in, volutpat a dui. Morbi rhoncus iaculis euismod. Nunc varius faucibus nisl sit amet posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer diam purus, dictum lobortis ultricies pellentesque, imperdiet a massa. Phasellus libero tortor, viverra quis hendrerit in, volutpat mollis elit. Proin id dui nunc. Aenean quis dolor neque. Donec ante est, tincidunt in fermentum at, euismod eu ante. Praesent dapibus egestas sapien, a bibendum turpis aliquet id. Morbi nulla metus, auctor quis tristique quis, consequat sit amet felis.</p>
  <p>Quisque pellentesque elementum mi, a bibendum lorem feugiat id. Curabitur congue bibendum dignissim. Cras ultricies nisi eu erat pellentesque rhoncus. Sed enim quam, fringilla eget fringilla vitae, cursus sed nisl. Integer quam diam, vulputate nec tristique quis, gravida in sem. Proin et vulputate orci. Suspendisse quis lobortis quam. Integer sit amet lectus vel neque dapibus congue. Ut facilisis dui at ante commodo volutpat dapibus et metus. Nulla facilisi. Vivamus volutpat consequat interdum. Curabitur venenatis eleifend nisl, quis vehicula lectus imperdiet vitae. Nam hendrerit enim a felis fermentum iaculis scelerisque arcu pellentesque. Nunc ac rutrum nisi. Integer sodales mi a lacus sollicitudin id dignissim mauris imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta neque vitae leo dapibus non adipiscing mauris accumsan.</p>
</div>
