<% content_for(:include_custom_stylesheet) do %>
  <%= stylesheet_link_tag "ktree-earth" %>
<% end %>

<% content_for(:include_custom_javascript_head) do %>
  <script type = "text/javascript">
    var CLOSURE_NO_DEPS = true;
    var CLOSURE_BASE_PATH = "/"; //The path where calcdeps.py was run
  </script>
  <%= javascript_include_tag "closure/goog/base.js" %>
  <%= javascript_include_tag "ktree/deps.js"%>
  <script src = "http://www.google.com/jsapi?key=ABQIAAAALuMnM-_PZBAC0jiiDlxy2xRGQdiD-hjaSRiclgqKLFtYALqY5BStWXbW2ka15MNHBzunqwVPJAJ65A" type="text/javascript"> </script>	  
  <script type = "text/javascript">
    //Closure needs to know what the entry point for our js library is in order to add the right resources to the header
    goog.require('ktree.Core');
  </script>
<% end %>

<% content_for(:include_custom_javascript_end) do %>
  <script type = "text/javascript">
    // Invoke the ktree js library
    var karunaTree = new ktree.Core(true);
    karunaTree.debugTemp();
  </script>
<% end %>

<div id="earth"></div>
<div id="button"></div>

