- content_for :include_custom_stylesheet do
  = stylesheet_link_tag "ktree-frontpage"
#front-page-wrapper
  #float-left
    .gray-outline
      %img{ :src => "images/design/kt-logo.jpg", :alt => "KarunaTree Logo" }
    %p System version: #{REGISTRY[:version]}
  %h1 Welcome
  %p KarunaTree is an interactive narrative world for kids, designed to help them understand and respond to the serious environmental challenges facing our planet. Our goal is to do more than simply educate young people about sustainability; rather, we hope to empower children to have a voice in their own environmental future.
  %p <span class="yellow-highlight">New!</span> The first <a href="http://www.karunatree.com/seedlings">Karuna seedlings are here!</a> You can browse and share these terrific environmental art projects created by participants at Girls, Inc's Eureka! summer camp.<br/><br/>
  -#%p To follow our progress, please check out <span class="yellow-highlight"><a href="http://www.karunatree.com/canopy" title="Canopy">Canopy</a></span>, the KarunaTree project blog!